<li>
    {{name}}

    <button class="change-state" data-id="{{id}}" data-newstate="{{eat}}">
        {{#if eat}}Devour Now!{{else}}No apetite!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>